<!-- {% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <form action="Register" method="post">
        
        <input type="text" name="first_name" placeholder="First name" class="form-control">
        <input type="text" name="last_name" placeholder="Last  name" class="form-control">
        <input type="email" name="email" placeholder="Email " class="form-control">
        <input type="password" name="password1" placeholder="password" class="form-control">
        <input type="password" name="password2" placeholder="password" class="form-control">
        <input type="hidden" name="is_staff"  class="form-control">
        <input type="hidden" name="is_active" class="form-control">
    </form>
</div>

{% endblock  %} -->